<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysDictTypeMapper">

    <resultMap id="BaseResultMap" type="com.soft.base.entity.SysDictType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sort_order,create_by,
        create_time,update_by,update_time,
        del_flag,dict_name,dict_type,
        status,remark
    </sql>

    <select id="getdictTypes" resultType="DictTypesVo">
        SELECT
        sdt.id,
        sdt.dict_name AS "dictName",
        sdt.dict_type AS "dictType",
        sdt.`status`
        FROM
        sys_dict_type sdt
        WHERE
        sdt.del_flag = '1'
    </select>
    <select id="getDictType" parameterType="java.lang.Long" resultType="DictTypeVo">
        SELECT
        sdt.id,
        sdt.dict_name AS "dict_name",
        sdt.dict_type AS "dict_type",
        sdt.sort_order AS "sort_order",
        sdt.remark
        FROM
        sys_dict_type sdt
        WHERE
        sdt.del_flag = '1'
        AND sdt.id = #{id}
    </select>
    <update id="deleteDictTypeBatch" parameterType="java.util.List">
        UPDATE sys_dict_type
        SET del_flag = '0'
        WHERE
        del_flag = '1'
        AND id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
