<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysDictDataMapper">

    <resultMap id="BaseResultMap" type="com.soft.base.entity.SysDictData">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="label" column="label" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
            <result property="cssClass" column="css_class" jdbcType="VARCHAR"/>
            <result property="listClass" column="list_class" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sort_order,create_by,
        create_time,update_by,update_time,
        del_flag,code,label,
        value,dict_type,css_class,
        list_class,is_default,status,
        remark
    </sql>
    <select id="getDictDatas" parameterType="DictDatasRequest" resultType="DictDatasVo">
        SELECT
        sdd.id,
        sdd.`code`,
        sdd.label,
        sdd.`value`,
        sdd.is_default AS "isDefault",
        sdd.`status`
        FROM
        sys_dict_data sdd
        WHERE
        sdd.del_flag = '1'
        AND sdd.dict_type = #{request.dictType}
    </select>
    <select id="getDictData" parameterType="java.lang.Long" resultType="DictDataVo">
        SELECT
        sdd.id,
        sdd.`code`,
        sdd.label,
        sdd.`value`,
        sdd.is_default AS "is_default",
        sdd.`status`,
        sdd.css_class AS "css_class",
        sdd.dict_type AS "dict_type",
        sdd.list_class AS "list_class",
        sdd.remark,
        sdd.sort_order AS "sort_order"
        FROM
        sys_dict_data sdd
        WHERE
        sdd.del_flag = '1'
        AND sdd.id = #{id}
    </select>
    <update id="deleteDictDataBatch" parameterType="DeleteRequest">
        UPDATE sys_dict_data sdd
        SET del_flag = '0'
        WHERE
        del_flag = '1'
        AND sdd.id = #{request.id}
    </update>
</mapper>
