<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.soft.base.entity.SysLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="logLevel" column="log_level" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="requestUrl" column="request_url" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="requestParams" column="request_params" jdbcType="VARCHAR"/>
            <result property="responseResult" column="response_result" jdbcType="VARCHAR"/>
            <result property="operationDesc" column="operation_desc" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="executionTime" column="execution_time" jdbcType="BIGINT"/>
            <result property="moduleName" column="module_name" jdbcType="VARCHAR"/>
            <result property="statusCode" column="status_code" jdbcType="INTEGER"/>
            <result property="exceptionInfo" column="exception_info" jdbcType="VARCHAR"/>
            <result property="osBrowserInfo" column="os_browser_info" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        del_flag,log_level,ip_address,
        request_url,request_method,request_params,
        response_result,operation_desc,source,
        execution_time,module_name,status_code,
        exception_info,os_browser_info,type
    </sql>

    <select id="getLogs" parameterType="LogsRequest" resultType="LogsVo">
        SELECT
        sl.id,
        sl.module_name AS "moduleName",
        sl.request_method AS "requestMethod",
        sl.status_code AS "statusCode",
        sl.execution_time AS "executionTime"
        FROM
        sys_log sl
        WHERE
        sl.del_flag = '1'
        <if test="request.requestMethod != null and request.requestMethod != ''">
            AND sl.request_method = #{request.requestMethod}
        </if>
        <if test="request.moduleName != null and request.moduleName != ''">
            AND sl.module_name LIKE concat( '%', #{request.moduleName}, '%' )
        </if>
        <if test="request.statusCode != null and request.statusCode != ''">
            AND sl.status_code = #{request.statusCode}
        </if>
        <if test="request.startTime != null and request.endTime != null">
            AND (
            sl.create_time BETWEEN #{request.startTime}
            AND #{request.endTime})
        </if>
        ORDER BY sl.create_time DESC
    </select>
</mapper>
