<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.soft.base.entity.SysMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="visible" column="visible" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        path,component,icon,
        type,order_num,
        status,visible,create_time,
        update_time,remark,create_by,
        update_by,del_flag
    </sql>

    <select id="getMenus" parameterType="java.util.List" resultType="MenusVo">
        SELECT
        sm.id,
        sm.`name` AS "title",
        sm.icon,
        sm.path,
        sm.parent_id AS "parentId"
        FROM
        sys_menu sm
        JOIN sys_role_menu srm ON sm.id = srm.menu_id
        AND sm.del_flag = '1'
        JOIN sys_role sr ON srm.role_id = sr.id
        AND sr.del_flag = '1'
        WHERE
        sr.`code` IN
        <foreach collection="userRole" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
