<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 支持颜色的格式 -->
            <pattern>
                %highlight(%-5level) %cyan(%d{HH:mm:ss.SSS}) [%thread] %blue(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 日志级别 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
